a[href^="https://www.google.com/"] {
 color: green;
}

a[target="_blank"] {
 color: red;
}

#first-div>p:nth-child(2n+1)::after {
 content: "- NEW";
 color: yellow;
}

#first-div > p:nth-child(2)::after{
 content: "- NEW";
 color: yellow;
}

#second-div > p:nth-child(even){
 color:red;
}

#second-div > p:nth-child(2n+3) {
 color: blue;
}

#second-div > p:nth-child(2n+3) {
 color: blue;
}

p:hover:nth-child(8) {
 font-style: italic; 
}

